/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}

a {
  color: #007bff;
}

/* Estilos do cabeçalho */
header {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

/* Estilos das seções */
section {
  padding: 40px 20px;
}

#portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projeto {
  width: 300px;
  margin-bottom: 20px;
}

.projeto img {
  width: 100%;
  height: auto;
}

/* Estilos do rodapé */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

/* Estilos das redes sociais */
.redes-sociais {
  list-style-type: none;
  padding: 0
